section {
  padding: 15px;
  text-align: center;
}

button {
  font-size: 20px;
  padding: 14px 25px;
  background-color: rgb(0, 89, 255);
  color: rgb(248, 248, 248);
}

button:hover {
  cursor: pointer;
  background-color: greenyellow;
  color: black;
}

table,
th,
td {
  border: 2px solid rgb(70, 61, 61);
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 0 10px black;
}

table thead {
  background-color: rgb(50, 176, 218);
}

table tbody {
  background-color: ;
}
.inputField {
  font-size: 30px;
  margin: 20px;
  height: 50px;
  border: 2px solid green;
  outline: none;
  border-radius: 8px;
}

.inputField:hover {
  background-color: red;
}
