body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 50px;
}

.flex-header {
  padding: 20px;
  background-color: rgb(122, 122, 255);
}

.flex-main-container {
  display: flex;
  flex: 1;
}

.flex-nav,
.flex-aside {
  background-color: red;
  padding: 1rem;
  flex: 1;
}

.flex-article-section {
  background-color: blue;
  padding: 1rem;
  flex: 6;
}

.flex-footer {
  padding: 1rem;
  background-color: orange;
}

@media all and (max-width: 600px) {
  .flex-main-container {
    flex-direction: column;
  }
}

@media all and (max-width: 600px) {
  .flex-main-container {
    flex-direction: column;
  }
}
